.saved__keywords {
    margin: 0 0 56px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

@media screen and (max-width: 900px) {
    .saved__keywords {
        margin: 0 0 32px;
    }
}
