.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 104px 26px;
}

@media screen and (max-width: 670px) {
    .footer {
        margin: 20px 16px 22px;
        flex-direction: column-reverse;
        row-gap: 68px;
    }
}

@media screen and (min-width: 671px) and (max-width: 900px) {
    .footer {
        margin: 24px 40px 18px;
    }
}