.popup-box__text {
    margin: 13px 0 9px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: start;
    color: #2F71E5;
}

@media screen and (max-width: 670px) {
    .popup-box__text {
        width: 288px;
    }
}

