.card__date {
    margin: 0;
    padding: 20px 0 12px;
    font-family: Source Sans Pro, serif;
    font-style: Regular;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    align-items: center;
}

@media screen and (max-width: 670px) {
    .card__date {
        padding: 16px 0 10px;
    }
}


@media screen and (min-width: 671px) and (max-width: 900px) {
    .card__date {
        padding: 16px 0 12px;
    }
}
